# Ignore node_modules folder in all subdirectories
**/node_modules

# Ignore environment files in all subdirectories
**/.env
**/.env.*

# Ignore build and coverage directories in all subdirectories
**/build
**/coverage

# Ignore logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Vercel folder
.vercel

# Ignore any zip files
*.zip
